@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
  padding: 50px 24px;
}

.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

ul{
  display: flex;
  list-style: none;
}

img{
  height: 60px;
  width: 60px;
}

a{
  text-decoration: none;
}

/* NAV BAR */

nav{
  height: 100px;
  background-color: #141414;
}

.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  height: 100%;
  padding: 0 16px;
}

.nav__link{
  color: #e5e5e5;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin: 0 24px;
  transition: all 400ms ease;
}

.nav__link:hover{
  cursor: pointer;
  color: red;
}

.nav__logo--container{
  display: flex;
  align-items: center;
}

.nav__logo{
  height: 60px;
  width: 60px;
  margin-right: 16px;
}

.nav__logo--header{
  color: #e5e5e5;
  font-weight: bold;
  transition: all 400ms ease;
}

.nav__logo--header:hover{
  color: red;
  cursor: pointer;
}

/* HOME PAGE */

.home__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-bar{
  margin: 24px 0;
  height: 44px;
  width: 560px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid grey;
  border-radius: 20px;
  transition: all 400ms ease;
}

.search-bar:hover{
  border: 2px solid red;
}

.search__btn{
  background-color: red;
  box-shadow: 0 5px 0 rgb(172, 13, 13);
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}

.search__btn:active{
  box-shadow: none;
  transform: translateY(5px);
}

.home__img{
  height: 500px;
  width: 500px;
}

/* SEARCH RESULTS */

.movies__container{
  padding: 24px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.movie--home{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% / 3);
  margin: 24px 0;
}

.movie__img--home{
  height: 260px;
  width: 220px;
  margin: 16px 0;
  transition: all 400ms ease;
}

.movie__img--home:hover{
  scale: 105%;
}

.movie__title--link{
  color: #141414;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  transition: all 400ms ease;
}

.movie__title--link:hover{
  color: red;
  cursor: pointer;
}

/* MOVIE SUMMARY */

.row__summary{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary__top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.summary__title{
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #141414;
  margin-bottom: 12px;
}

.summary__date{
  font-size: 16px;
  font-weight: 400;
  color: #141414;
}

.summary__main{
  display: flex;
  /* align-items: center; */
}

.summary__img{
  width: 50%;
  height: 100%;
  max-height: 500px;
  padding: 0 32px;
}

.summary__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold{
  font-weight: 600;
}

.back{
  color: #141414;
  padding: 8px 12px;
  border: 2px solid #141414;
  border-radius: 4px;
  margin-bottom: 24px;
  transition: all 400ms ease;
}

.back:hover{
  color: red;
  border: 2px solid red;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 